<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-file-text"></i>审批信息</a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>流转信息</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form class="form-horizontal m-t" id="signupForm">
                                <input id="id" name="id" th:value="${leave.id}" type="hidden">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">请假事由：</label>
                                    <div class="col-sm-8">
                                <span id="reason" name="reason" th:text="${leave.reason}" class="form-control"
                                      type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开始时间：</label>
                                    <div class="col-sm-8">
                                <span id="startTime" name="startTime"
                                      th:text="${#dates.format(leave.startTime, 'yyyy-MM-dd')}"
                                      class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">结束时间：</label>
                                    <div class="col-sm-8">
                                <span id="endTime" name="endTime"
                                      th:text="${#dates.format(leave.endTime, 'yyyy-MM-dd')}" class="form-control"
                                      type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">我的意见：</label>
                                    <div class="col-sm-8">
                                        <div id="userOpinion" class="col-sm-8">
                                                
                                            <div class="radio-inline">
                                                    <label><input name="userOpinion" type="radio" value="1"
                                                                  checked="checked"  />
                                                同意</label>
                                            </div>
                                                
                                            <!--<div class="radio-inline">-->
                                            <!--    <label><input name="userOpinion" type="radio" value="0"-->
                                            <!--th:field="*{leave.userOpinion}"/>-->
                                            <!--不同意</label>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-3">
                                        <button type="submit" class="btn btn-primary">审批</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div id="tab-2" class="tab-pane ">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <ul class="list-group" id="hisActivity">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <script th:inline="javascript">
        var taskId = [[${taskId}]]
    </script>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/js/appjs/oa/leave/edit.js">
</script>
</body>
</html>
