<head th:fragment="header">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title></title>
<link href="/css/blog/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/blog/clean-blog.min.css" rel="stylesheet">
<style>
.navbar-toggler {
	z-index: 1;
}
@media ( max-width : 576px) {
	nav>.container {
		width: 100%;
	}
}
</style>
</head>
<div th:fragment="nav">
	<nav class="navbar fixed-top navbar-toggleable-md navbar-light"
		id="mainNav">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="/">Start
				BootDo</a>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link page-scroll"
						href="/blog">首页</a></li>
					<li class="nav-item"><a class="nav-link page-scroll" href="#">关于布嘟</a></li>
					<li class="nav-item"><a class="nav-link page-scroll" href="/">学习交流</a></li>
					<li class="nav-item"><a class="nav-link page-scroll" href="/">登录后台</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div th:fragment="footer">
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
					<ul class="list-inline text-center">
						<li class="list-inline-item"><a
							href="https://jq.qq.com/?_wv=1027&k=5EYXfiZ"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-qq fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li class="list-inline-item"><a
							href="https://www.oschina.net/p/bootdo"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-home fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li class="list-inline-item"><a href="#"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
					</ul>
					<p class="copyright text-muted"></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery Version 3.1.1 -->
	<script src="/js/jquery.min.js"></script>
	<!-- Tether -->
	<script src="/js/appjs/blog/tether.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Theme JavaScript -->
	<script src="/js/appjs/blog/clean-blog.min.js"></script>
	<!-- SUMMERNOTE -->
	<script src="/js/plugins/summernote/summernote.min.js"></script>
	<script src="/js/plugins/summernote/summernote-zh-CN.js"></script>
</div>

